{% extends "cockpit/_layouts/cockpit-cp.twig" %}
{%- set selectedSubnavItem = 'settings' -%}

{%- if readOnly -%}
    {%- set contentNotice = readOnlyNotice() -%}
{%- endif -%}

{%- set navItems = {
    'matchfields-heading': { heading: 'Match Fields'|t('cockpit') },
    'matchfieldtypes': { title: 'Match Field Types'|t('cockpit') },
    'elements-heading': { heading: "Elements"|t('cockpit') },
    'contacts': { title: 'Contacts'|t('cockpit') },
    'jobs': { title: 'Jobs'|t('cockpit') },
    'offices': { title: 'Offices'|t('cockpit') },
    'webhooks-heading': { heading: 'Webhooks'|t('cockpit') },
    'overview': { title: 'Overview'|t('cockpit') },
    'settings-heading': { heading: 'Settings'|t('cockpit') },
    'general': { title: 'General settings'|t('cockpit') },
} -%}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading">
                        <span>
                            {{ item.heading }}
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('cockpit/settings/'~handle) }}" {{ handle == selectedItem ? 'class="sel"'-}}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
