{% extends "cockpit/_layouts/cockpit-cp.twig" %}
{%- set selectedSubnavItem = 'settings' -%}

{%- if readOnly -%}
    {%- set contentNotice = readOnlyNotice() -%}
{%- endif -%}

{%- set navItems = {
    'general': { title: 'General settings'|t('cockpit') },
    'contacts': { title: 'Contact settings'|t('cockpit') },
    'companies': { title: 'Company settings'|t('cockpit') },
    'deals': { title: 'Deal settings'|t('cockpit') }
} -%}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading">
                        <span>
                            {{ item.heading }}
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('cockpit/settings/'~handle) }}" {{ handle == selectedItem ? 'class="sel"'-}}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
