{% extends 'cockpit/_layouts/cockpit-cp-settings' %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{%- set crumbs = [
    { label: 'Cockpit ATS'|t('cockpit'), url: url('cockpit') },
] -%}

{% block actionButton %}
    {% if not readOnly %}
        <a href="{{ url('cockpit/settings/matchfields/new') }}" class="btn submit add icon">{{ 'New match field type'|t('cockpit') }}</a>
    {% endif %}
{% endblock %}

{% if readOnly %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}
    <div id="matchfields-vue-admin-table"></div>
{% endblock %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('cockpit', 'Name') },
        { name: '__slot:handle', title: Craft.t('cockpit', 'Handle') },
        { name: 'type', title: Craft.t('app', 'Type'), sortField: true },
    ];

    let config = {
        columns: columns,
        container: '#matchfields-vue-admin-table',
        emptyMessage: Craft.t('cockpit', 'No matchfields exist yet.'),
        tableDataEndpoint: 'cockpit/matchfields/table-data',
    };

    {% if not readOnly %}
        config['deleteAction'] = 'cockpit/matchfields/delete-matchfield';
        config['deleteConfirmationMessage'] = Craft.t('cockpit', 'Are you sure you want to delete “{name}” and all its matchfields? Please make sure you have a backup of your database before performing this destructive action.');
    {% endif %}

    new Craft.VueAdminTable(config);
{% endjs %}
